# Core Django packages
Django==5.1.4
asgiref==3.8.1

# Environment variables
python-decouple==3.8

# WebSocket support
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2

# CORS support
django-cors-headers==4.7.0

# Static file serving
whitenoise==6.9.0

# Production server
gunicorn==23.0.0
