.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width : 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom : 0;
}

footer a{
  color: #4aee88;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}


.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo{
  height: 80px;
  margin-bottom: 30px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.joinBtn, .leaveBtn{
  background-color: #4aed88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover, .leaveBtn:hover{
  background-color: #2b824c;
  transform: translateY(-2px);
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  margin-left: 5px; 
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
  color: #2b824c;
  border-color: #2b824c;
  cursor: pointer;
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner{
  flex:1; 
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap : 20px
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username{
  margin-top: 10px;
}


.EditorPageLogo{
  border-bottom : 1px solid #424242;
  padding-bottom: 10px;
}

.logoImg {
  height: 10vh;
}

.leaveBtn{
  margin-top: 20px;
  width : 100%
}

.CodeMirror{
  min-height: 100vh;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}